* {
  box-sizing: border-box;
}
html {
background: #fff;
height: 100%;
}

body {
  /*background: #04AD36;*/
  font-family: 'helvetica', sans-serif;
}

/**********************************************************/
.box_round {
  -webkit-border-radius: 12px; /* Safari 3-4, iOS 1-3.2, Android ≤1.6 */
          border-radius: 12px; /* Opera 10.5, IE9+, Safari 5, Chrome, Firefox 4+, iOS 4, Android 2.1+ */

  /* useful if you don't want a bg color from leaking outside the border: */
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}
/**********************************************************/
.clear { clear: both;}

.container {
  width: 1100px;
  margin: 0 auto; }

.encabezado {
    position: absolute;
    top:0px; left:12px;
      height: 60px;
 }

.encabezado__titulo {
  float: left; }
  .encabezado__titulo h1 {
    font: 700 22px/1.4em Helvetica, sans-serif;
    letter-spacing: 3px;
    margin-top: 20px;
    color: #333; }

.encabezado__audio {
    }
  .encabezado__audio span {
    font-size: 14px;
    color: #fff;
    font-weight: 300;
    letter-spacing: 0px; }

.toogle-container {
  display: inline-block;
  height: 70px;
  width: 105px;
  position: relative;
  top: 12px;
}

  .right span {
      font-size: 14px;
      color:#fff;
  }

.toggle {
  height: 30px;
  margin: 5px auto;
  width: 70px;
}
.toggle-on.active {
  text-indent: 16px !important;
}
.toggle-off.active {
  text-indent: 27px !important;
}


h1 {
font: 900 24px/1.4em 'helvetica', sans-serif;
margin:0px;
color:#BA1A1A;
}

#instrucciones {
  position: absolute;
  left:652px;
  top:70px;
  width: 410px;
  height: 80px;
}
#instrucciones p {
    color: #444;
    font: 400 15px/1.4em 'helvetica', sans-serif;
}



#contenedor { width: 1100px; height: 604px; border:0px solid #595455; margin: 20px auto; background: url('../images/fondo_actividad.jpg') no-repeat top left scroll #202022; overflow:hidden; position:relative; }

#preguntas {position: relative;width:1100px; height:620px;}

  /*****************************/
  .question {
      width: 275px;
      height: 156px;
      position: absolute;
      left: 225px;
      top: 269px;
      z-index: 50;
  }
    .question p { color:#fff; padding: 0px 24px; font:400 14px/1.3em 'helvetica', sans-serif; text-align: justify; margin:0; }
    .question p span { color: #EDCA00;}

    #lineas {
        position: absolute;
        width: 295px;
        height: 360px;
        left: 362px;
        top: 166px;
        background: url('../images/lineas.png') top left no-repeat;
    }


.respuesta {
      position: absolute;
      width: 410px;
      height: 97px;
      border: 3px solid #000;
      left: 652px;
      background: #fff;
      border-radius: 12px;
      display: flex;
      align-items:stretch;
      justify-content: flex-start;
  }
  .respuesta:hover{
    cursor: pointer;
    background: #FEAD00;
 }
     .respuesta:hover p {
         color: #000;
     }
  .respuesta p {
    font: 400 14px/1.2em 'Helvetica',Arial,sans-serif;
    text-align: justify;
    color: #000;
    padding: 0px;
    margin: 0px;
  }
  .respuesta p span {
    font-weight: normal;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 101px;
    text-align: center;
    display: inline-block;
    line-height: 93px;
    margin-right: 7px;
    background: #000;
    font-size: 42px;
    color: #F5D200;
  }

  .respuesta__letra {
      font-weight: normal;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      text-align: center;
      background: #000;
      font-size: 42px;
      color: #F5D200;
      flex: 0 0 101px;
      line-height: 94px;
  }

  .respuesta__enunciado {
      flex: 1 0 305px;
      display: flex;
      align-items: center;
  }
      .respuesta__enunciado p {
          padding-left: 12px;
          padding-right: 16px;
      }

.respuesta.uno {
  top: 121px;
  }
  .respuesta.uno p span {

  }
  .respuesta.uno:hover {

  }
.respuesta.dos {
  top: 240px;
  }
  .respuesta.dos p span {

  }
  .respuesta.dos:hover {

  }
.respuesta.tres {
  top: 355px;
  }
  .respuesta.tres p span {

  }
  .respuesta.tres:hover {

  }
.respuesta.cuatro {
  top: 473px;
 }
  .respuesta.cuatro p span {

  }
  .respuesta.cuatro:hover{

  }



.buena {
  background-color: #00C500 !important;
    }
    .buena p { color: #fff !important; }
  .buena span {
    color: #00C500; }

.mala {
  background-color: #F20F01 !important;
 }
  .mala p { color: #fff !important; }
  .mala span {
    color: #F20F01; }



  /****************************/

  #cinta { }

#cuerpo {
  background: url('../images/profe_cuerpo.png') top left no-repeat;
  width: 229px;
  height: 608px;
  position: absolute;
  left: 859px;
  top: 293px;
  z-index: 90;
}

#personaje_cuerpo {
  position: absolute;
  width: 412px;
  height: 388px;
  left: 17px;
  top: 232px;
  background: url('../images/cuerpo_personaje.png') top left no-repeat;
}

#personaje_cara {
  position:absolute; left: -3px; top: 63px;
  height: 258px;
  background-image: url("../images/sprite_caras.png");
  background-repeat: no-repeat;
  line-height: 157px;
  width: 157px;
  z-index: 92;
}

#personaje_cara.normal {
  background-position: 0 0;
}

#personaje_cara.perdio {
  background-position: -314px 0;
}

#personaje_cara.gano {
  background-position: -157px 0;
}


/*=================  Posicionar Cinta de Números ===================*/
.circulo {
  position: absolute;
  width: 43px;
  height: 43px;
  font-weight: 300;
  line-height: 43px;
  text-align: center;
  top:530px;
  /*cursor: pointer;*/
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  background: #FFA900;
}

.circulo.normal {
  background: #FFA900;
}

.circulo.gano {
  background: url('../images/bt_bien.png') no-repeat left top scroll;
  text-indent: 2000px;
}
.circulo.perdio {
  background: url('../images/bt_mal.png') no-repeat left top scroll;
  text-indent: 2000px;
}

.c0 { left: 225px; }
.c1 { left: 283px; }
.c2 { left: 341px; }
.c3 { left: 399px; }
.c4 { left: 457px; }


/************************** Resultados   ********************************/

.circle {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 701px;
  top: 277px;
  color: #fff;
}

.circle strong {
  font-size: 30px;
  font-weight: 900;
  left: 24px;
  line-height: 85px;
  position: absolute;
  text-align: center;
  top: 30px;
  width: 100%;
}

#resultados {
  position: relative;
  width: 1100px;
  height: 700px;
  z-index: 100;
  /*background: rgba(0, 0, 0, 0.6);*/
}

.estadistica {
  width: 369px;
  height: 373px;
  background: url("../images/bg_resultados.png") center center no-repeat;
  position: absolute;
  left: 506px;
  top: 116px;
}

.estadistica__numero {
  position: absolute;
  width: 115px;
  height: 33px;
  line-height: 37px;
  left: 722px;
  top:177px;

  font-size: 20px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0px;
  color: #000;
}

.estadistica__mensaje {
    width: 247px;
    height: 92px;
    position: absolute;
    left: 242px;
    top: 302px;
    z-index: 50;
}

.estadistica__mensaje p {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0px;
  padding: 12px 0px 0px;
  color: #fff;
  margin: 0px;}

  p.nopadding {
    padding-top: 0px;
  }

.bt__jugar-de-nuevo {
  position: absolute;
  width: 205px;
  height: 50px;
  left: 677px;
  top: 490px;
  cursor: pointer;
}

.bt__jugar-de-nuevo {
  background: url("../images/bt_volver.png") no-repeat left top; }
  .bt__jugar-de-nuevo:hover {background: url("../images/bt_volver_hover.png") no-repeat left top; }
